
        <!-- CLIENT FROM  -->
        {{ form.non_field_errors }}
        <div class="row">
            <div class="col-4 left">
                <!-- LEFT -->
                <div class="field-wrap">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">{{form.name.label}}:</label>
                    {{ form.name }}
                </div>
                <div class="field-wrap">
                    {{ form.document_date.errors }}
                    <label for="{{ form.document_date.id_for_label }}">{{form.document_date.label}}:</label>
                    {{ form.document_date }}
                </div>
                <div class="field-wrap">
                    {{ form.description.errors }}
                    <label for="{{ form.description.id_for_label }}">{{form.description.label}}:</label>
                    {{ form.description }}
                </div>
                <div class="field-wrap">
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </div>
                
                <!-- LEFT --> 
            </div>
            <div class="col-8">
                <!-- RIGHT -->
                <div class="field-wrap">
                    {{ form.document.errors }}
                    <label for="{{ form.document.id_for_label }}">{{form.document.label}}:</label>
                    {{ form.document }}
                </div>
                <!-- RIGHT -->
            </div>
        </div>
                <!-- CLIENT FROM  -->
        