{% extends 'containers/base.html'%}

{%block page-name%}
<h1>Наличие по клиентам</h1>
{%endblock%}


{%block content%}

<div class="container">
    <a class="btn btn-primary" href="{%url 'containers:clients'%}" role="button"><i class="fa-solid fa-list"> </i>Все документы</a>
    <form method="POST" id="client-form" enctype="multipart/form-data">
        {%csrf_token%}
                <!-- CLIENT FROM  -->
                {{ client_form.non_field_errors }}
                <div class="row">
                    <div class="col-4 left">
                        <!-- LEFT -->
                        <div class="field-wrap">
                            {{ client_form.name.errors }}
                            <label for="{{ client_form.name.id_for_label }}">{{client_form.name.label}}:</label>
                            {{ client_form.name }}
                        </div>
                        <div class="field-wrap">
                            {{ client_form.document_date.errors }}
                            <label for="{{ client_form.document_date.id_for_label }}">{{client_form.document_date.label}}:</label>
                            {{ client_form.document_date }}
                        </div>
                        <div class="field-wrap">
                          {{ client_form.description.errors }}
                          <label for="{{ client_form.description.id_for_label }}">{{client_form.description.label}}:</label>
                          {{ client_form.description }}
                      </div>
                        <div class="field-wrap">
                            <button class="btn btn-primary" type="submit">Сохранить</button>
                        </div>                       
                        <!-- LEFT --> 
                    </div>
                        <div class="col-4">
                          {% if not client_doc.client_container_doc.is_read%}
                          <p>Текст для "Клиент-Контейнеры"</p>
                          {{client_container_text_form}}
                          {%endif%}
                        </div>
                      <div class="col-4">
                          {% if not client_doc.area_doc.is_read%}
                          <p>Текст для "Участки"</p>
                            {{area_text_form}}
                            {%endif%}             
                      </div>
                </div>
                        <!-- CLIENT FROM  -->
    </form>
</div>
{%endblock%}