{% extends 'containers/base.html'%}

{%block page-name%}
<h1>{{user}}  {{client_user.client_name}}</h1>
{%endblock%}

{%block content%}

<div class="container">
    <h2>Всего контейнеров: {{rows|length}}</h2>
      <!-- DATA ROW -->
      <table class="table table-striped" id="client_rows" style="">
        <thead>
          <tr>
            <!-- <th scope="col">#</th>
            <th scope="col">Клиент</th> -->
            <th scope="col">Контейнер</th>
            <th scope="col">Участок</th>
            <th scope="col">Отправка</th>
            <th scope="col">Дата</th>
            <th scope="col">Простой</th>
            <th scope="col">Масса</th>
            <th scope="col">N/N</th>
            <th scope="col">Print</th>

          </tr>
        </thead>
        <tbody>
          {%for row in rows%}
          <tr>

            <!-- <th scope="row">{{row.pk}}</th>
            <td class="client_name">{{row.client_name}}</td> -->
            <td>{{row.container}}</td>
            <td>{%if row.area%}{{row.area}}{%endif%}</td>
            <th>{{row.send_number}}</th>
            <td>{{row.date|date:"d.m.Y"}}</td>
            <td>{{row.time_delta_past}}</td>
            <td>{{row.weight}}</td>
            <th>{{row.nn}}</th>
            <td>
              <a href="{%url 'containers:print_document' row.pk%}">Print</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <!-- DATA ROW -->

</div>
{%endblock%}