{% extends 'containers/base.html' %}
{%load static%}
{%block page-name%}
<h1>Сверка списков</h1>
<img src="{%static 'containers/images/container.png'%}">
{%endblock%}

{% block content %}
<style>
    .file-names,
    .files-data {
        margin-bottom: 20px;
    }

    .files-data textarea {
        height: 60vh;
    }

    #clear {
        margin-left: 20px;
    }
</style>
<div class="main-wrapper">
    <div class="container">
        <form method="POST">
            {{form.non_field_errors}}
            {% csrf_token %}
            <div class="row file-names">
                <div class="col">
                    <select class="form-select" aria-label="Default select example" name="type">
                        {%for value, label in form.type.field.choices %}
                        <option value="{{value}}" {%if value == form.type.value%}selected{%endif%}>{{label}}</option>
                        {%endfor%}
                    </select>
                    {{form.type.errors}}
                </div>
            </div>
            <div class="row file-names">
                <div class="col"><input type="text" class="form-control" value="{{form.file_name_1.value}}" required
                        name="file_name_1"></div>
                <div class="col"><input type="text" class="form-control" value="{{form.file_name_2.value}}" required
                        name="file_name_2"></div>
            </div>

            <div class="row files-data">
                <div class="col"><textarea type="text" class="form-control" required name="file_text_1"></textarea>
                </div>
                <div class="col"><textarea type="text" class="form-control" required name="file_text_2"></textarea>
                </div>
            </div>
            <div class="for-buttons-center">
                <button class="pure-material-button-contained">Проверить</button>
                <button id="clear" class="pure-material-button-text">Отчистить</button>
            </div>

        </form>
    </div>

</div>
<script>
    $('#clear').click(function (e) {
        e.preventDefault()
        $('textarea').val('')
    })
</script>

{%endblock%}