{%load container_tags%}
<table class="table table-striped" id="{{id}}" style="display: none;">
  <thead>
    <tr>
      <th scope="col">Клиент</th>
      <th scope="col">Контейнер</th>
      <th scope="col">Дата выгрузки</th>
      <th scope="col">Дата убытия</th>
      <th scope="col">Простой</th>
    </tr>
  </thead>
  <tbody>
    {%for row in rows%}
    <tr>
      <td class="client_name">{{row.client_name}}</td>
      <td>{{row.number}}</td>
      <td>{{row.start_date|date:"d.m.Y H:i"}}</td>
      <td>{{row.end_date|date:"d.m.Y H:i"}}</td>
      <td>{{row.past|timedelta_to_days}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
