
      <!-- DATA ROW 1 -->
      <table class="table table-striped" id="{{id}}" style="display: none;">
        <thead>
          <tr>
            <th scope="col">Клиент</th>
            <th scope="col">Контейнер</th>
            <th scope="col">Участок</th>
            <th scope="col">Отправка</th>
            <th scope="col">Дата выгрузки</th>
            <th scope="col">Простой</th>
            <th scope="col">Масса</th>
            <th scope="col">N/N</th>
          </tr>
        </thead>
        <tbody>
          {%for row in rows%}
          <tr>
            <td class="client_name">{{row.client_name}}</td>
            <td>{{row.number}}</td>
            <td>{%if row.area%}{{row.area}}{%endif%}</td>
            <th>{{row.send_number}}</th>
            <td>{{row.start_date|date:"d.m.Y"}}</td>
            <td>{{row.past.days}}</td>
            <td>{{row.weight}}</td>
            <th>{{row.nn}}</th>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <!-- DATA ROW -->
